html,body{
    height: 100%;
    
    /* background-color: #e9eef3; */
}
body{
    color: #333;
    background-image: url("/static/images/bg.png");
    background-repeat: repeat;
}













.mb-2{
    margin-bottom: 20px;
}
.mt-2{
    margin-top: 20px;
}
.mt-1{
    margin-top: 10px;
}
.p20{
  padding: 20px;
}
.pr-2{
    padding-right: 20px;
}
.clearfix {
    zoom: 1;
    display: table;
    width: 100%;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
*{
    margin: 0;
    padding: 0;
}
.fr{
    float: right;
}
.container {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
}
.el-header .container{
    display: flex;
}
.el-header .container .el-menu{
    flex-grow: 2;
    margin: 0 30px;
    height: 100%;
}